<% layout('layouts/boilerplate') -%>

<h1>Activity Details:</h1>
<% if (activity) { %>
<span>Activity date: <%= activity.date %></span> <br />
<span>Category: <%= activity.activityType %></span>
<p>Activity: <%= activity.activity %></p>
<form action="/activities/<%= activity._id %>?_method=DELETE" method="POST">
  <button class="btn">Delete</button>
</form>
<% } %>
<a class="btn" href="/activities/<%= activity._id %>/edit">Edit</a>
