<% layout('layouts/boilerplate') -%>
<form action="/activities/<%= activity._id %>?_method=PUT" method="POST">
  <label for="type">Activity Type:</label>
  <select name="activityType" id="type">
    <% activityTypes.forEach(type => { %>
    <option value="<%= type %>" <%= activity.activityType === type ? "selected" : "" %>><%= type %></option>
    <% }) %>
  </select>
  <label for="activity">Activity:</label>
  <input
    type="text"
    id="activity"
    name="activity"
    placeholder="Went to bed at 9:30pm"
    value="<%= activity.activity %>"
  />
  <label for="date">Date:</label>
  <input
    type="date"
    id="date"
    name="date"
    value="<%= new Date(activity['date']).toISOString().split('T')[0] %>"
  />
  <button class="btn">Update Activity</button>
</form>
