<% layout('layouts/boilerplate') -%>

<h1>Activities</h1>
<a class="btn" href="/activities/new">Add new activity</a>
<% for( const date in groupedActivities ) { %>
<h2 class="activity-list__header"><%= date %></h2>
<ul class="activity-list">
  <% groupedActivities[date].forEach(activity => { %>
  <li class="activity-list__item">
    <span><%= activity.activityType %></span>
    <p><%= activity.activity %></p>
    <a class="btn" href="/activities/<%= activity._id %>">Details</a>
    <a class="btn" href="/activities/<%= activity._id %>/edit">Edit</a>
  </li>
  <% }) %>
</ul>
<% } %>
